language = "nodejs"
run = "npm start"

[deployment]
deploymentTarget = "gce"
run = ["sh", "-c", "npm start"]
ignorePorts = true

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 3001
